* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form {
    background-color: #272727;
    padding: 20px 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 8px;
}

.container form p {
    margin-bottom: 18px;
}

.container form button {
    background-color: #456be7;
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.container form button:hover {
    background-color: #3b58b9;
    transform: scale(1.1);
}